pages:
  stage: deploy
  image: python:latest
  script:
    - pip install zensical
    - zensical build --clean 


  artifacts:
    paths:
      - public
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'